
body {
    height: 100%;
    background:#635F62;
  }
  
  body {
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: top;
  }

  form {
    display: inline-block;
}